<div class="container-fluid overflow_hide">

    <div class="row component_header">
        <div class="col-sm-6 componentName">
            All Subject Information
        </div>
        <div class="col-sm-6 addNewButton">
            <button (click)="openAddNewDialog()" class="l2gTheamButtonColor">Add New Subject</button>
        </div>
    </div>
    <ngx-spinner color = "#f49823" type = "ball-clip-rotate-pulse" size="medium" [fullScreen] = "true"   ><p style="color: white;">Please Wait..</p></ngx-spinner>
    <mat-card class="example-card"
        style="border-radius: 8px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">

        <mat-card-content>
            <div class="row" style="padding-bottom: 1%;">
                <div class="col-sm-6">
                    <app-branch-dept (sendDept)="deptReceived($event)" [component_name]="component_name_for_child"
                        [optionReset]="optionReset">
                    </app-branch-dept>
                </div>
                <div class="col-sm-3 marginTop">
                    <select class="input-text" placeholder="Class" [(ngModel)]="selectedClass"
                        (ngModelChange)="classSelector(selectedClass)">
                        <option *ngFor="let class of classList" [ngValue]="class">
                            {{class.name}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3 mr-top">
                    <button id="subject-find-btn" class="theamButton l2gTheamButtonColor"
                        (click)="getClassWiseSubjectsAndTeachersByClassId()">FIND NOW</button>
                    &nbsp;
                    <button class="clearButton" (click)="resetField()">CLEAR</button>
                </div>
            </div>
            <div class="overflow-table">
                <table mat-table [dataSource]="dataSource" matSort matSortActive="created" class="table-width">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_item_heading"> SL NO. </th>
                        <td mat-cell *matCellDef="let element" class="table-class-name"> {{element.position}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subject_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_item_heading"> SUBJECT </th>
                        <td mat-cell *matCellDef="let element" class="table-subject-name table-class-name">
                            {{element.subject_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="teacher_user_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_item_heading"> TEACHER </th>
                        <td mat-cell *matCellDef="let element" class="table-class-name"> {{element.teacher_user_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="class_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_item_heading"> CLASS </th>
                        <td mat-cell *matCellDef="let element" class="table-class-name"> {{element.class_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_item_heading"> CREATED AT
                        </th>
                        <td mat-cell *matCellDef="let element" class="table-class-name"> {{element.created | date:
                            'd/M/y, h:mm a'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="table_item_heading action_align"
                            style="padding-right: 0 !important;"> ACTION </th>
                        <td mat-cell *matCellDef="let element" class="table-class-name edit-del-btn"
                            style="padding-right: 0 !important; width: 100px;">
                            <img matTooltip="Edit" class="edit_del_button"
                                src="../../../../../assets/images/admin/class/Edit Icon.png" alt="">
                            &nbsp;
                            <img matTooltip="Delete" class="edit_del_button"
                                src="../../../../../assets/images/admin/class/Delete Icon.png" alt="">
                        </td>
                    </ng-container>

                    <tr style="background:#F1F3F9;" mat-header-row *matHeaderRowDef="displayedColumns;sticky: true">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


        </mat-card-content>

    </mat-card>

</div>