<div class="l-box-header">
    <!-- <span
        style="width: 157px;color:#3598db;line-height: 43px;font-size: 21px;font-family: MontserratSemiBold;">TEACHERS</span> -->
    <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-3 col-3">
            <div class="heading">
                {{subjectObj.list_name | uppercase}}
            </div>
        </div>
        <div class="searchBar">
            <div class="col-xl-2 col-md-2 col-sm-2 col-2">
                <mat-icon class="listSearchIcon" matTooltip="Search {{list_name}}">search</mat-icon>
            </div>
            <div class="col-xl-7 col-md-7 col-sm-7 col-7" style="padding: 0;">
                <input class="listSearchInput" type="search" placeholder="Search {{subjectObj.list_name}} here"
                    [(ngModel)]="subjectFilter.subject_name">
            </div>
        </div>
    </div>

    <hr class="l-box-hr">
</div>

<div class="members">
    <span *ngIf="subjectObj">
        <div *ngFor="let subject of subjectObj.subjects | filterBy: subjectFilter" class="member-lists" id="{{subject.id}}"
            style="margin-bottom:5px; cursor: pointer;"
            [ngClass]="subject.id != selected_user_id ? 'unSelected-teacher' : 'selected-teacher'"
            (click)="selectedSubject(subject)">
            <div style="display: inline-block;vertical-align: top;">
                <img height="53" width="53" src="../../../../assets/images/instructor-class/exam_list_icon_for_home_page.png">
            </div>
            <div style="display:inline-block;margin-left: 5px;
        line-height: 1;
        margin-top: 8px;width: 235px;">
                <div class="participant-name">{{subject.subject_name | uppercase}}</div>
                <div class="participants-email" style="color: #8ea1b4;line-height: 1.5;">Class.
                    {{subject.class_name}}</div>
            </div>
            <div class="contact" style="display: inline-block;
        color: #f49a22;">
                N/A
            </div>
            <div [matMenuTriggerFor]="usermenu" class="menu" style="
        float: right;cursor: pointer;
        margin-top: 22px;">
                <img width="6" height="24" src="../../../../assets/images/dropdown_3dot.png">
            </div>
            <span flex>
                <mat-menu #usermenu="matMenu">
                    <span>
                        <button mat-menu-item>TEST</button>
                    </span>
                </mat-menu>
            </span>
        </div>
    </span>
</div>